{% extends "layout.html.twig" %}

{% block content %}


<div class="row commentaire">

{% block title %}{{ reponsereply.content }} {% endblock %}
    
      <div class=" comment">   
    
        <h3>Ecrire un signalement</h3><br>
        {{ form_start(advertreponsereplyForm)  }}
            <div class="form-group">

                <p><h4>  Décrivez la raison de votre signalement ici</h4></p>
                {{ form_errors(advertreponsereplyForm.advert) }}
                {{ form_widget(advertreponsereplyForm.advert, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Exprimez vous ici'
                }}) }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="envoyer le signalement" />
            </div>
    
    
        {{ form_end(advertreponsereplyForm) }}
    </div>
</div>	
  
{% endblock %} 