{% extends "layout.html.twig" %}

{% block title %}{{ article.title }} {% endblock %}

{% block content %}
<div class="row commentaire">


    <h2>{{ article.title }}</h2>
    <p>{{ article.content}}</p>
  
    <div class=" comment">
    <h3>Commentaire</h3>
        
    {% for comment in comments %}
  
                <strong>{{ comment.author.username }}</strong> à publié  le {{ comment.date }}:<br>
                {{ comment.content }}<br>
        {{ comment.id}}
            

{% else %}
          
        Pas encore de commentaire.
       
    {% endfor %}
 </div> </div>  
{% endblock %} 
    
