
{% extends "layout.html.twig" %}

{% block javascripts %}
    <script type="text/javascript" src="{{asset('../lib/tiny_mce/tiny_mce.js')}}"></script>
{% endblock %}


{% block title %}{{ article.title }} {% endblock %}

{% block content %}
    <div class="row commentaire">

    <h2>{{ article.title }}</h2>
    <p>{{ article.content}}</p>
    <h3>Commentaire</h3>
        
    {% for comment in comments %}
  
        <div class=" comment row ">
         <div class=" row ">     
                {% if comment.advert == NULL %}
                  <div class="col-sm-1 text-center initiale "> 
                      {{ comment.author|slice(0, 1) | upper }}
                  </div>         
                  <div class="col-sm-11  ">
                        <strong>    {{ comment.author}}     </strong> à publié  le {{ comment.date |date('d-m-Y')   }} à {{ comment.date |date(' H:i:s ')   }}:<br>
                      {{ comment.content | raw }}<br>
                  </div> 
                
            </div>
                
    
                <p><a class="col-xs-offset-10 col-xs-2 btn btn-info btn-sm" href="{{ path('advert', { 'id': comment.id }) }}" role="button"> signaler le message  <span class="glyphicon  glyphicon-hand-right"></span></a></p><br>
      
      
            <div class=" reponse row "> 
                {% for reply in comment.reponse %}
                    <div class=" row ">
                            <div class="col-sm-1 text-center reponseinitiale "> 
                                {{ reply.author|slice(0, 1) | upper }}<br>
                            </div> 
                              
                        
                            <div class="col-sm-11  ">
                                 <strong>    {{ reply.author}}     </strong> à publié  le {{ reply.date |date('d-m-Y  ')   }} à {{ reply.date |date(' H:i:s ')   }}:<br>
                                {{ reply.content}}
                            </div>
                            </div>
                        
                            
                        {% else %}
          
                            Pas encore de réponse.
    
    
                        {% endfor %}
                          <p><a class="col-xs-offset-10 col-xs-2 btn btn-info btn-sm" href="{{ path('reply', { 'id': article.id,'commentid': comment.id }) }}" role="button"> Répondre  <span class="glyphicon  glyphicon-hand-right"></span></a></p><br>   
    

            
                 {% else %}
                        
                              <div class="row">
                                <div class="col-sm-2">                                     
                                    <img src="{{ asset('../web/image/danger.png') }}"  alt="entete" />
                                </div>
                                <div class="col-sm-10">
                                    Ce commentaire a été signalé comme ne respectant pas la charte déontologique du site, il en attente de vérification par le modérateur du site
                                </div>
                               </div>
                 {% endif %}
             </div>    
                    
        </div>    
    
    
        
    {% else %}
          
        Pas encore de commentaire.
       
    {% endfor %}
      
        <div class=" comment">   

            <h2>Ajouter un commentaire</h2><br>
            

                        {{ form_start(commentForm) }}
                     
                            <div class="form-group">
                                <p><h4> Entrez votre pseudo</h4></p>
                                {{ form_errors(commentForm.author) }}
                                {{ form_widget(commentForm.author, { 'attr':  {
                                    'rows': '1',
                                    'class': 'form-control',
                                    'placeholder': 'Entrez votre nom et prénom'
                                }}) }}<br>
                                <p><h4>  Entrez votre commentaire ici</h4></p>
                                {{ form_errors(commentForm.content) }}
                                {{ form_widget(commentForm.content, { 'attr':  {
                                    'rows': '4',
                                    'class': 'form-control',
                                    'placeholder': 'Exprimez vous ici'
                                }}) }}
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Poster le commentaire" />
                            </div>
                        {{ form_end(commentForm) }}
         </div>          
        </div>        

 
{% endblock %} 
