{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %} 
    
   {% block content %}
    
    
    <!--image de presentation--> 
    <div class="row ">
       
            <img src="../web/image/entete.png"  alt="entete" />
            
        
    </div>
    
    <!--block article-->  
    <div class="row container-fluid home">
        <div class="col-sm-offset-1 col-sm-7 col-md-8 article">
            {% for article in articles %}
            <article class="row" >
                <div class="col-sm-2 date">
                    <h5>posté le:</br></h5><h4>{{ article.date}}</h4>
                
                </div>
            <div class="col-sm-10 texte">
                <h2>{{ article.title }}</h2>
                
                <p>{{ article.content }}</p>
                
            
            </article>
                <p><a class="col-xs-offset-9 col-xs-2 btn btn-info btn-sm" href="{{ path('article', { 'id': article.id }) }}" role="button">Lire  <span class="glyphicon glyphicon glyphicon-hand-right"></span></a></p>
            
            {% endfor %}
        </div>
        <div class=" col-sm-offset-1 col-sm-3 col-md-2 introduce"> 
            <h1> Qui suis-je?</h1>
            <img src="../web/image/jf.jpeg"  alt="jf" />
            <p> hello! moi c'est Jean, écrivain et acteur, je désire partager avec vous l'écriture de mon nouveau roman</p>
            <p><a class=" btn btn-info btn-sm" href="{{ path('introduce')}}" role="button">En savoir plus <span class="glyphicon glyphicon glyphicon-hand-right"></span></a></p>
        </div>
    </div>
        
            
        
     {% endblock %}