{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %} 
    
   {% block content %}
    
    
    <!--image de presentation--> 
    <div class="row ">
       
            <img src="{{ asset('../web/image/image1.png') }}"  alt="entete" />
            
        
    </div>
    
    <!--block article-->  
    <div class="row container-fluid home">
        <div class="col-sm-offset-1 col-sm-7 col-md-8 article">
            {% for article in articles %}
            <article class="row" >
                <div class="col-sm-2 date">
                    <h5>posté le:</br></h5><h4>{{ article.date}}</h4>

                </div>
            <div class="col-sm-10 texte">
                <div class="row text-center">
                <h2>{{ article.title }}</h2>
                    <p><a  href="{{ path('article', { 'id': article.id }) }}" ><span class="glyphicon glyphicon glyphicon-comment "></span>    {{ article.compte}} commentaires </a></p><br>
                </div>
                
                <p>{{ article.content |raw [:1000] }}.....</p>

               <div class="row text-center">

            
            
                <p><a class=" btn btn-info btn-md" href="{{ path('article', { 'id': article.id }) }}" role="button">Lire la suite <span class="glyphicon glyphicon-hand-right"></span></a></p>
            </div>  
            
            </article>
            
            {% endfor %}
        </div>
        
        
        <div class=" col-sm-offset-1 col-sm-3 col-md-2 row"> 
            <div class= "introduce">
                <h1> Qui suis-je?</h1>
                <img src="{{ asset('../web/image/jf.jpeg') }}"  alt="jf" />
                
                <p> hello! moi c'est Jean, écrivain et acteur, je désire partager avec vous l'écriture de mon nouveau roman</p>
                <p><a class=" btn btn-info btn-sm" href="{{ url('intro') }}" role="button">En savoir plus <span class="glyphicon glyphicon glyphicon-hand-right"></span></a></p>
            </div>
            
                              <div class="introduce">
                                  
                   <h1> vous voulez avoir les dernieres actus en live?</h1>               
                 <img src="{{ asset('../web/image/newsletter-icon.jpeg') }}"  alt="news" />
                    <p> abonnez vous à ma newsletter</p>
                                  <p><a class=" btn btn-info btn-sm" href="{{ url('intro') }}" role="button">S'abonner <span class="glyphicon glyphicon glyphicon-hand-right"></span></a></p>
            </div>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        

                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Welcome, {{ app.user.username }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('logout') }}">Log out</a></li>
                                </ul>
                            </li>
                        
                            
                        {% endif %}
                    
        </div>
    </div>
        
            
        
     {% endblock %}