{% extends "layout.html.twig" %}






{% block content %}
<div class="row commentaire">

{% block title %}{{ comment.content }} {% endblock %}
    
  
    <div class=" comment">
            <h3>Réponse</h3>

            {% for reply in replies %}
        
                <strong> {{ reply.id}}</strong> à publié  le {{ reply.date }}:<br>
                {{ reply.content }}<br>
        
            {% else %}
          
                Pas encore de réponse.
       
            {% endfor %}
    </div> 
    
    
      <div class=" comment">   
    
            <h3>Ecrire une réponse</h3><br>
            {{ form_start(replyForm) }}
          
            <div class="form-group">
                <p><h4> Entrez votre pseudo</h4></p>
                {{ form_errors(replyForm.author) }}
                {{ form_widget(replyForm.author, { 'attr':  {
                    'rows': '1',
                    'class': 'form-control',
                    'placeholder': 'Entrez votre nom et prénom'
                }}) }}<br>
                <p><h4>  Entrez votre commentaire ici</h4></p>
                {{ form_errors(replyForm.content) }}
                {{ form_widget(replyForm.content, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Exprimez vous ici'
                }}) }}
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Publier le commentaire" />
            </div>
        {{ form_end(replyForm) }}

   </div>         
	
  </div>
{% endblock %} 
    
