{% extends "layout.html.twig" %}


{% block title %}repondre à un commentaire {% endblock %}



{% block content %}
<div class="row commentaire">
    <div class=" comment">
        <h2>Commentaire écrit part {{ comment.author }}</h2> <br>
        {{ comment.content }}
  
    
            <h2>Réponses</h2>

            {% for reply in replies %}
        
                <strong> {{ reply.author | upper}}</strong> à publié  le {{ reply.date }}:<br>
                {{ reply.content }}<br>
        
            {% else %}
          
                Pas encore de réponse.
       
            {% endfor %}
    </div> 
      <div class=" comment">   

            <h2>répondre au commentaire de {{ comment.author | upper}}</h2><br>
            

            {{ form_start(replyForm, { 'attr': {'class': 'form-horizontal'} }) }}
                    <div class="form-group">
                        {{ form_label(replyForm.author, null, { 'label_attr':  {
                            'class': 'col-sm-4 control-label'
                        }}) }}
                        <div class="col-sm-6">
                            {{ form_errors(replyForm.author) }}
                            {{ form_widget(replyForm.author, { 'attr':  {
                                'class': 'form-control',
                                'rows': '1'                
                            }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(replyForm.content, null, { 'label_attr':  {
                            'class': 'col-sm-4 control-label'
                        }}) }}
                        <div class="col-sm-6">

                            {{ form_errors(replyForm.content) }}
                            {{ form_widget(replyForm.content, { 'attr':  {
                                'class': 'form-control',
                                'rows': '10'                
                            }}) }} <br>
                            <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="envoyer la réponse" />
                        </div>
                     </div>          
                    </div>        
            {{ form_end(replyForm) }}

</div>
    
      
	
  </div>
{% endblock %} 
    
